.button {
  padding: 14px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  background-color: burlywood;
}

.container {
  display: flex;
  justify-content: center;
  margin: 20px;
  padding: 10px;

}

.afterContainer {
  display: flex;
  flex-direction: row;
  gap: 100px;
  align-items: center;
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.31);
}

.details {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.price {
  padding-right: 10px;
  text-align: end;
}

.container select {
  width: 50px;
  height: 30px;
}

.bin{
  margin-top: 10px;
  color: red;
  cursor: pointer;
  background: none;
  border: none;
  padding: 5px;
}

.placeOrder{
  border: 2px solid burlywood;
  padding: 20px;
  width: 200px;
  margin: 20px;
}

.placeOrder button {
  width: 100%;
  padding: 15px;
  background-color: burlywood;
  border: none;
  border-radius: 2px;
  cursor: pointer;
}

.closeForm{
  cursor: pointer;
  display: flex;
}

@media only screen and (min-width: 866px){
  .afterContainer{
    min-width: 45em;
  }
}

@media only screen and (max-width: 850px){

  .afterContainer{
    gap: 40px;
    
  }

  .container{
    margin: 0;
    display: grid;
    grid-template-columns: 1fr;
    font-size: small;
  }

}

@media only screen and (max-width: 668px){

  .afterContainer{
    display: grid;
    grid-template-columns: 1fr;
    gap: 0;
    
  }

  .price{
    text-align: left;
  }
}

@media only screen and (max-width: 463px){

  .details{
    display: grid;
    grid-template-columns: 1fr;
  }
}