.button {
  padding: 12px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  background: none;
  font-size: large;

  text-decoration: underline;
}

.main {
  display: flex;
  flex-direction: column;
  gap: 10px;

  padding-left: 200px;
  padding-right: 200px;
  padding-top: 10px
}

.form {
  text-align: center;
}

.form input {
  border: none;
  height: 6vh;
}

@media only screen and (max-width: 1254px) {
  .main {
    padding-left: 100px;
    padding-right: 100px;
  }
}

@media only screen and (max-width: 1025px) {
  .main {
    padding-left: 30px;
    padding-right: 50px;
  }
}

@media only screen and (max-width: 910px) {
  .main {
    padding-left: 20px;
    padding-right: 20px;
  }
}