.button {
  width: 90px;
  padding: 12px;
  border-radius: 5px;
  border: none;
  cursor: pointer;

  margin-top: 24px;
  background-color: burlywood;

}

.main {
  display: flex;
  flex-direction: column;
  gap: 10px;

  padding-left: 200px;
  padding-right: 200px;
  padding-top: 10px
}

@media only screen and (max-width: 1254px) {
  .main {
    padding-left: 100px;
    padding-right: 100px;
  }
}

@media only screen and (max-width: 1025px) {
  .main {
    padding-left: 30px;
    padding-right: 50px;
  }
}

@media only screen and (max-width: 910px) {
  .main {
    padding-left: 20px;
    padding-right: 20px;
  }
}