.pizzaBase {
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  overflow-x: scroll;
  gap: 70px;
}

.img {
  width: 80px;
  height: 80px;
}

.pizzaBase a {
  color: black;
  text-decoration: none;
}

.main h2 {
  text-align: center;
}

.pizzaBase h5 {
  width: 10em;
}

@media only screen and (max-width: 768px) {
  .pizzaBase {
    justify-content: flex-start;
    gap: 7px;
  }
}

@media only screen and (min-width: 1089px) {
  .children {
    padding-left: 10%;
    padding-right: 10%;
  }
}

@media only screen and (min-width: 1421px) {
  .children {
    padding-left: 13%;
    padding-right: 13%;
  }
}

@media only screen and (min-width: 1452px) {
  .children {
    padding-left: 24%;
    padding-right: 24%;
  }
}

@media only screen and (min-width: 2057px) {
  .children {
    padding-left: 30%;
    padding-right: 30%;
  }
}

