.item h2 {
  color: burlywood;
}

.prices{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.size {
  cursor: pointer;
  padding-left : 15px;
  padding-right : 15px;
  border-radius: 5px;
}

.size:hover{
  background-color: rgba(222, 184, 135, 0.348);
}

.backdrop {
  padding: 20px;
  background-color: white;
  border-radius: 5px;
  text-align: center;
}

.backdrop h3{
  color: burlywood;
}

.addToCart{
  background-color: burlywood;
  text-align: center;
  border: none;
  padding: 10px;
  border-radius: 5px;
 cursor: pointer;
}

.close{
  cursor: pointer;
}