.form input {
  width: 90%;
  height: 5vh;
  border-radius: 5px;
  border: none;
  padding: 10px;
}

.form {
  max-width: 300px;
}

.button {
  width: 90px;
  padding: 12px;
  border-radius: 5px;
  border: none;
  cursor: pointer;

  margin-top: 24px;
  background-color: rgb(142, 255, 127);
}

.haveAccount{
  cursor: pointer;
  color: rgb(142, 255, 127);
  text-align: center;
}

.password{
  display: flex;
  align-items: center;
}

.password div{
  padding: 10px;
  cursor: pointer;
}

.form input:active{
  border: none;
}