.background {
  background: url('https://images.pexels.com/photos/905847/pexels-photo-905847.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
  width: 100%;
  height: 82vh;
  background-repeat: no-repeat;
  background-size: cover;
  animation-name: smoothDown;
  animation-duration: 2s;
  animation-iteration-count: 1;
}

@keyframes smoothDown {
  from{
    height: 10vh;
  }
  to{
    height: 82vh;
  }
}

.signOut{
  background: none;
  border: none;
  cursor: pointer;
}

.backgroundB {
  background: url('https://images.pexels.com/photos/905847/pexels-photo-905847.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
  width: 100%;
  height: 30vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: -150px;
}

.img{
  margin-top: -25px;
}

.navbar{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  text-align: center;
}

.menu,
.signIn {
  display: flex;
  flex-direction: row;
  gap: 20px;
  margin-top: 20px;
  margin-right: 20px;
  background-color: rgba(222, 184, 135, 0.795);
  padding: 20px;
  border-radius: 2px;
}

.menu a,
.menuDash a,
.signIn {
  text-decoration: none;
  color: white;
  font-size: larger;
  cursor: pointer;
}

.menuDash{
  display: flex;
  flex-direction: row;
  gap: 20px;
  margin-top: 20px;
  margin-right: 20px;
  padding: 20px;
  border-radius: 2px;
}

@media only screen and (max-width: 448px){
  .backgroundB{
    height: 80vh;
    margin-bottom: -150px;
  }
}