.background {
  background: url('https://images.pexels.com/photos/905847/pexels-photo-905847.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
  width: 100%;
  height: 92vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: -150px;
  padding: 10px;
  padding-top: 40px;
}

.navbar a{
  text-decoration: none;
  color: white;
  font-weight: 600;
  font-size: larger;
}

.backgroundB {
  background: url('https://images.pexels.com/photos/905847/pexels-photo-905847.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
  width: 100%;
  height: 10vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: -150px;
  padding: 10px;
  padding-top: 40px;
}

.navbar{
  display: flex;
  flex-direction: row;
  gap: 10px;
}