.table td {
  border-bottom: 1px solid;
}

.table  h2{
  color: black;
}

.qty {
  /* border-left: 1px solid; */
  text-align: center;
}

.editPen{
  margin-left: 15px;
  opacity: 0;
  cursor: pointer;
}


.item:hover .editPen{
  opacity: 1;
}